*.o
admin/data/dumps/*
admin/data/vstore.sqlite
CMakeCache.txt
CMakeFiles
./adam
./csv2dump
./libigmgw.so
./signal
modules/vstore/vstore2dump
modules/vstore/dump2vstore
modules/vstore/libvstore.so
SDK.tgz
sdk/doxygen/breathe/build/
sdk/doc/
.vscode
src/qate.aep.cpp
src/qate.chunks.cpp
src/qate.signals.cpp
